// Btns
.btn-default:hover{
  border-color: mix( $brand-primary, white, 75% );
  background: mix( $brand-primary, white, 75% );
}

// Icons
.btn[class*="icon-"]:before{
  // align-right
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

// Page Title
.page-title{
  font-size: 2em;
  color: $text-color;
  font-weight: $font-weight-700; 
}

// Header
header{
  background: $brand-primary;
}

.main-entity-logo{
  margin-top: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width/2;
}

@media (min-width: $screen-sm-min) {
  
  .main-entity-logo{
    float: right;
  }
}

.navbar-brand{
  font-size: 1.75em;
  font-weight: $font-weight-600;

  a{
    color: white;
  }
}

.navbar-default .navbar-toggle{
  color: $text-color;
  font-weight: $font-weight-700;

  &:hover,
  &:focus{
    color: $brand-primary;
    background: white;
    font-weight: $font-weight-700;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-brand{
    position: static;
    margin: $grid-gutter-width/2 0;
    text-align: left;
  }
}

.navbar-default{
  text-align: center;
  
  .navbar-nav{
    padding: $grid-gutter-width/3 0;

    display: inline-block;
    width: auto;

    [class*="icon-"]:before{
      display: none;
    }

    > li{
    
      > a{
        color: $text-color;
        font-size: 1.25em;
        font-weight: $font-weight-700;

        &:hover{
          color: $brand-primary;
        }
      }

      &.active{
        
        > a,
        > a:hover{
          color: $brand-primary;
          font-weight: $font-weight-700;
        } 
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  
  .navbar-default{
    height: 54px !important;

    .navbar-nav{
      padding: 0;

      > li{
        width: auto;
        margin: 0 $grid-gutter-width;
        border-bottom: 2px solid white;

        > a{
          line-height: 50px;
          padding: 2px 0 0;
          text-align: left;
        }

        &.active{
          border-bottom-color: $brand-primary;
        }
      }
    }
  }
}

// Nav Tabs
.nav-tabs > li{
  a h3{
    color: $text-color;
    font-weight: $font-weight-700;
  }
  &.active > a h3{
    color: $brand-primary;
    font-weight: $font-weight-700;
  }
}

// Social Sharing
.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

// Data Sources
.data-sources {
  background: $brand-terciary;
  .alert{
   background: mix( $brand-terciary, white, 50% );
  }
}

// Data Downloads
.panel-downloads{
  border-color: $brand-secondary;
  background: $brand-secondary;

  a{
    color: $brand-primary;

    &:hover{
      color: $text-color;
    }
  }
}

// Home
.home-content{

  .home-intro h2{
    color: $text-color;
  }

  .expense-examples li{
    background: $gray-lighter;

    a{
      color: $text-color;
      font-weight: $font-weight-700;
      &:hover{
        color: $brand-primary;
      }
    }
  }

  .options{
    .option > div{

      .icon{
        color: $gray-lighter; //darken( $brand-secondary, 20% ); //mix( $brand-primary, $brand-secondary, 50% );
      }

      .option-title h3{
        color: $text-color;
      }
      .option-title:hover h3{
        color: $brand-primary;
      }

      .btn{
        font-size: 1.125em;
        font-weight: $font-weight-600;
        background: $gray-light;
        border-color: $gray-light;

        &:hover{
          background: $brand-primary;
          border-color: $brand-primary;
        }

        &:before{
          content: "";
          display: block;
          width: 19px;
          height: 19px;
          margin-top: 1px;
          background: url(/static/assets/plus-icon.png) no-repeat 0 0 transparent;
        }
      }
    }
  }
}

// Budget
.budget-intro{

  .budget-step{
    border: none;

    h3 
    span{
      color: $brand-primary;
      font-weight: $font-weight-400;
    }
    b{
      font-weight: $font-weight-400;
    }
    .desc{
      font-size: 1em;
      background: $gray-light;

      b{
        font-weight: $font-weight-400;
      }
    }
  }
}
.budget-data{
  background: $brand-secondary;
}

// Policies
.policies-chart{
  background: white;
}

.policies-graph{
  background: white;
}

.stacked-area-chart-legend .label{
  
  &:hover{
    background: $brand-secondary;
  }
}

// Glossary
.form-search-glossary .btn-primary{
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover{
    background-color: mix( $brand-primary, white, 75% );
    border-color: mix( $brand-primary, white, 75% );
  }
}
.glossary-terms h3, 
.glossary-terms h4{
  color: $text-color;
  font-weight: $font-weight-700;
 
  &:before{
    color: darken( $brand-secondary, 20% );
  }
}

.form-search-glossary .form-control{
  border-color: $brand-primary;
}

// Search
.search-content .alert{
  background: $brand-secondary;
}
.search-content .panel{
  border-color: $brand-primary;

  .panel-heading{
    color: white;
    background: $brand-primary;

    h3{
      color: white;
    }
  }
}

// Search Icon
.form-search-glossary .btn-default:before,
.form-search .form-inline .btn:before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  background: url(/static/assets/search-icon.png) no-repeat 0 0 transparent;
}

.tax-receipt-table-content{
  background: white;
}

.tax-receipt-content{

  .form-user-incomings,
  #tax-amount{
    background: $brand-secondary;
  }

  .form-user-incomings{
    
    h3{
      color: $gray-light;
    }

    label.bonus{
      font-weight: normal;
    }

    .checkbox{
      clear: both;

      label{
        line-height: 20px;
      }
    }
  }
}


// Footer
.main-footer .footer-menu li {
  margin-bottom: $grid-gutter-width/6;
  font-weight: $font-weight-300;
}