{% extends 'base.html' %}
{% block content %}

{% load static %}

<section class="guidedvisit" role="region">
  
  <!-- Politicas Header -->
  <div class="guidedvisit-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Visita guiada por Presupuestos Abiertos') }}</h2>
    </div>
  </div>

  <!-- Policies Content -->
  <div class="guidedvisit-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
          <ul class="guidedvisit-menu">
            <li><a href="#de-las-grandes-cifras-al-detalle">{{ _('De las grandes cifras al detalle') }}</a></li>
            <li><a href="#no-solo-lo-presupuestado">{{ _('No solo lo presupuestado, también lo gastado') }}</a></li>
            <li><a href="#tambien-los-ingresos">{{ _('También los ingresos') }}</a></li>
            <li><a href="#mas-rapido-usa-el-buscador">{{ _('Más rápido: usa el buscador') }}</a></li>
            <li><a href="#la-evolucion-desde-2011">{{ _('La evolución desde 2011') }}</a></li>
            <li><a href="#quien-lo-gasta">{{ _('¿Quién lo gasta?') }}</a></li>
            <li><a href="#en-que-se-gasta">{{ _('¿Cómo se gasta?') }}</a></li>
            <li><a href="#si-tienes-dudas-consulta-el-glosario">{{ _('Si tienes dudas, consulta el glosario') }}</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <p class="lead">{{ _('El objetivo de la página de presupuestos del Ayuntamiento de Madrid es que cualquier ciudadano sea capaz de encontrar, a unos pocos clics, de forma visual y sin tener que revisar páginas y páginas de tablas, cualquier línea de las cuentas de los últimos años. Si es tu primera vez y no sabes por dónde empezar, te acompañamos en un primer paseo.') }}</p>

          <h3 id="de-las-grandes-cifras-al-detalle">{{ _('De las grandes cifras al detalle') }}</h3>

          <p>{{ _('Desde <a href="/es/">la portada</a> puedes acceder a la <a href="/es/resumen">visión global</a>, que te da una idea general de ingresos y gastos, o acceder a la página de <a href="/es/politicas#view=functional">políticas</a>, en la que, de un solo vistazo, puedes ver cómo se reparte el presupuesto y cuáles son los grandes bloques. Si te fijas en los colores, verás que están agrupados por tipos básicos en la barra superior y que, por ejemplo, el 44,9% del presupuesto se destina al funcionamiento de los servicios públicos básicos.') | safe }}</p>

          <img src="{% static 'assets/guidedvisit-1.png' %}" class="img-responsive" alt="{{ _('De las grandes cifras al detalle') }}" />

          <p>{{ _('Desde esas grandes cifras puedes ir bajando, según te adentras en cada una de ellas, hasta llegar a niveles de detalle mucho más precisos. Por ejemplo: desde <a href="/es/politicas/23/servicios-sociales-y-promocion-social#view=functional">&#39;servicios sociales y promoción social&#39;</a> puedes pasar a ver la partida de <a href="/es/programas/23103/personas-mayores#view=economic">&#39;personas mayores&#39;</a> en detalle.') | safe }}</p>

          <img src="{% static 'assets/guidedvisit-2-2.gif' %}" class="img-responsive" alt="{{ _('De las grandes cifras al detalle') }}" />

          <h3 id="no-solo-lo-presupuestado">{{ _('No solo lo presupuestado, también lo gastado') }}</h3>

          <p>{{ _('La página web de los presupuestos de Madrid no solo informa de forma gráfica del reparto de los presupuestos, sino también del estado de ejecución mensual. Es decir, puedes saber cuánto se ha gastado de cada partida hasta la fecha de actualización. Así, lo gastado aparece junto a lo presupuestado en todas las tablas de la herramienta y, además, de forma gráfica, en las visualizaciones. Las franjas azules de la <a href="/es/resumen">visión global</a>, por ejemplo, muestran cuánto se ha gastado o ingresado, por el momento, del total previsto en los presupuestos (el fondo gris).') | safe }}</p>

          <img src="{% static 'assets/guidedvisit-3.png' %}" class="img-responsive" alt="{{ _('No solo lo presupuestado, también lo gastado') }}" />

          <h3 id="tambien-los-ingresos">{{ _('También los ingresos') }}</h3>

          <p>{{ _('Esta web también incluye detalles sobre las partidas de ingresos. La <a href="/es/politicas#view=income">visualización</a> muestra el reparto de los grandes bloques y cómo, por ejemplo, los impuestos sobre el capital son la mayor fuente de financiación del ayuntamiento, seguidos por las transferencias de la Administración del Estado, encargada de recaudar el IVA y parte del IRPF.') | safe }}</p>

          <img src="{% static 'assets/guidedvisit-4.png' %}" class="img-responsive" alt="{{ _('También los ingresos') }}" />

          <h3 id="mas-rapido-usa-el-buscador">{{ _('Más rápido: usa el buscador') }}</h3>

          <p>{{ _('Hasta ahora hemos estado navegando, arriba y abajo, para ir al detalle o descubrir los grandes números. Pero, si te interesa un asunto concreto, existe una opción mucho más directa: utilizar el buscador, que rastrea en los presupuestos y en páginas de ayuda como ésta. Introduce, por ejemplo, la palabra &quot;infantil&quot;. La búsqueda te dará <a href="/es/busqueda?q=infantil">tres resultados</a>: uno corresponde a gastos y otros dos a ingresos. Si pinchas en el primer resultado podrás ver el <a href="/es/programas/32301/Centros%20docentes%20ense%C3%B1anza%20infantil%20y%20primaria#view=economic">presupuesto y el gasto en centros docentes de enseñanza infantil y primaria</a>.') | safe }}</p>

          <h3 id="la-evolucion-desde-2011">{{ _('La evolución desde 2011') }}</h3>

          <p>{{ _('A veces tu curiosidad irá más allá y querrás saber cómo ha evolucionado un determinado gasto o ingreso en los últimos años. ¿Se destina más a una determinada partida o se ingresa más de un impuesto concreto ahora que hace unos años? La web de presupuestos de Madrid contiene datos desde 2011. Así, por ejemplo, puedes saber cuánto se ha presupuestado, y gastado, en <a href="/es/programas/33210/Bibliotecas%20p%C3%BAblicas%20y%20patrimonio%20bibliogr%C3%A1fico#view=economic">bibliotecas públicas</a> desde ese año.') | safe }}</p>

          <img src="{% static 'assets/guidedvisit-5.gif' %}" class="img-responsive" alt="{{ _('La evolución desde 2011') }}" />

          <h3 id="quien-lo-gasta">{{ _('¿Quién lo gasta?') }}</h3>

          <p>{{ _('Hasta ahora nos hemos centrado en la clasificación funcional o por programas, es decir, a qué se destina el dinero. Pero, en algunos casos, es interesante saber qué organismo es el encargado de la gestión. Por ejemplo, en el programa de <a href="/es/politicas/15/vivienda-y-urbanismo#view=institutional">Vivienda y urbanismo</a> puedes ver, desglosado tras abrir el apartado del Ayuntamiento, la parte que gestionan directamente los distritos.') | safe }}</p>

          <h3 id="en-que-se-gasta">{{ _('¿Cómo se gasta?') }}</h3>

          <p>{{ _('La tercera pata de un presupuesto de gastos es la clasificación económica o, lo que es lo mismo, ¿en qué se gasta el dinero? Es decir: este punto explica si se trata de gastos de personal, gastos en bienes y servicios, inversiones o transferencias a otras entidades. Por ejemplo, si prestamos atención al detalle del presupuesto de <a href="/es/programas/33210/Bibliotecas%20p%C3%BAblicas%20y%20patrimonio%20bibliogr%C3%A1fico#view=economic">bibliotecas públicas</a> veremos que la franja más destacada, en color azul, es el pago de nóminas. La tabla inferior lo confirma: 21 de los 24 millones presupuestados para 2016 están destinados a los gastos de personal.') | safe }}</p>

          <img src="{% static 'assets/guidedvisit-6.png' %}" class="img-responsive" alt="{{ _('¿Cómo se gasta?') }}" />

          <p>{{ _('Otro ejemplo: en el programa de <a href="/es/programas/44110/promocion-control-y-desarrollo-del-transporte#item=2016/0087/453/01&amp;view=economic">Promoción, control y desarrollo del transporte</a> la franja más grande, siempre en azul, está destinada al pago de transferencias. En este caso, se trata del dinero que transfiere el Ayuntamiento al Consorcio Regional de Transportes de Madrid.') | safe }}</p>

          <img src="{% static 'assets/guidedvisit-7.png' %}" class="img-responsive" alt="{{ _('¿Cómo se gasta?') }}" />
        
          <h3 id="si-tienes-dudas-consulta-el-glosario">{{ _('Si tienes dudas, consulta el glosario') }}</h3>

          <p>{{ _('Conceptos como ahorro, tipos de clasificación del presupuesto (según queramos poner el foco en para qué se gasta, quién lo gasta o en qué se gasta) y definiciones de los principales impuestos están en el <a href="/es/glosario?page=1">glosario</a>. Para que no te queden dudas.') | safe }}</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}