{% extends 'base.html' %}
{% block content %}

{% load static %}

<section class="admin" role="region">

  <div class="guidedvisit-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Administración de Presupuestos Abiertos') }}</h2>
    </div>
  </div>

  <div class="guidedvisit-content">
    <div class="container">
      <div class="row">

        <h3>Descargar datos</h3>

        <form class="form-inline" id="data-download" action="{{ url('presupuesto-madrid.views.admin_download') }}" method="get">
          <div class="form-group">
            <label for="source-path">{{ _('Fuente de datos') }}</label>
            <input type="text" id="source-path" class="form-control" name="source-path" placeholder="{{ _('Escribe aquí la dirección de la página') }}">
          </div>
          <button type="submit" class="btn btn-default btn-primary" >{{ _('Descargar') }}</button>
        </form>
        <p id="data-download-output"></p>

        <h3>Revisar datos</h3>

        <h3>Cargar datos</h3>
        <form class="form-inline" id="data-load" action="{{ url('presupuesto-madrid.views.admin_load') }}" method="get">
          <button type="submit" class="btn btn-default btn-primary" >{{ _('Cargar') }}</button>
        </form>
        <p id="data-load-output"></p>
      </div>
    </div>
  </div>

</section>

<script>
  $('#data-download').submit(function(e) {
    e.preventDefault();
    disableButtons();
    $.ajax({
      url: "admin/download",
      data: {
        source_path:  $('#source-path').val(),
      },
      contentType:    'application/json; charset=utf-8',
      success:        onCommandSuccess,
      error:          onCommandError,
    });
  });

  $('#data-load').submit(function(e) {
    e.preventDefault();
    disableButtons();
    $.ajax({
      url: "admin/load",
      contentType:    'application/json; charset=utf-8',
      success:        onCommandSuccess,
      error:          onCommandError,
    });
  });

  function onCommandSuccess(response) {
    $("#data-download-output").html(response.download_output);
    $("#data-load-output").html(response.load_output);
    enableButtons();
  }

  function onCommandError(response) {
    enableButtons();
  }

  function disableButtons() {
    $('#data-download button[type="submit"]').attr('disabled', true).children('.glyphicon').removeClass('hide');
  }

  function enableButtons() {
    $('#data-download button[type="submit"]').attr('disabled', false).children('.glyphicon').addClass('hide');
  }
</script>

{% endblock %}