{% extends 'base.html' %}
{% block content %}

{% load static %}

<section class="investments" role="region">
  
  <!-- Politicas Header -->
  <div class="investments-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Inversiones por distritos') }}</h2>
    </div>
  </div>

  <!-- Policies Content -->
  <div class="investments-content">
    <div class="container">
      
      <div id="districts-map">
        {% include 'investments/districts_map.html' %}
      </div>

      <!-- Data Controller -->
      {% include 'shared/data_controllers.html' %}

      <!-- Totals Panel -->
      {% include 'entities/totals.html' %}

      <!-- Table Grid -->
      <table id="myGrid" class="table-grid" width="100%"></table>

      <!-- Panel Downloads -->

    </div>

    {% include 'shared/social_sharing.html' %}
    
  </div>

  <!-- Data Sources Panel -->
  {% include 'shared/data_sources.html' %}

</section>

{% include 'investments/index_script.html' %}

{% endblock %}