
// Colors
// -------------

$gray-base:             #000 !default;
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:          lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:         lighten($gray-base, 96%) !default;

$brand-primary:         #003DF6;
$brand-secondary:       #E7F2FC;
$brand-terciary:        #DEE0E2;
            
$brand-primary-accent:  darken( $brand-primary, 10% );

$text-color:            #222;

$headings-color:        $brand-primary;

/*
$bcn-blue:    #0069e1;
$bcn-pink:    #d50283;
$bcn-green:   #008000;
$bcn-violet:  #7519E6;
$bcn-olive:   #1c7da3;
$bcn-red:ï¿¼    #E91B1D;
*/

$link-color:            $brand-primary-accent;;
$link-hover-color:      $brand-primary;
$link-hover-decoration: underline;


// Typography
// -------------

$font-family-sans-serif:  'Lato', Verdana, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;

$font-weight-200:         300;
$font-weight-300:         300;
$font-weight-400:         400;
$font-weight-600:         600; 
$font-weight-700:         700;

$headings-font-weight:    $font-weight-700;


// Container sizes
// -------------

$grid-gutter-width:        30px;

// Large screen / wide desktop

$screen-lg:                  1280px;
$container-large-desktop:    (1080px + $grid-gutter-width);


// Main Entity Logo
// -------------

$main-entity-logo-width:   146px;
$main-entity-logo-height:  25px;


// Navbar
// -------------

$navbar-height: 25px;

$navbar-border-radius: 0;

// Point at which the navbar becomes uncollapsed
$grid-float-breakpoint: 992px;  // $screen-md

$dvmi-menu-length: 3;  // Number of items in main menu

// Navbar background color
$navbar-default-bg:       white;
$navbar-default-bg-hover: white;

// Navbar options text color
$dvmi-navbar-color: $brand-primary;

$navbar-default-link-active-color:    white;
$navbar-default-link-active-bg:       white;


// Panels
// ---------------

$panel-default-border:      $brand-primary;
$panel-default-heading-bg:  $brand-primary;


// Popover
// --------------

$popover-max-width:                   250px;

$popover-border-color:                transparent;
$popover-fallback-border-color:       transparent;

$popover-arrow-width:                 6px;

$popover-arrow-outer-color:           white;
$popover-arrow-outer-fallback-color:  white;


// Tooltips
// --------------

$tooltip-color:               white;
$tooltip-bg:                  $gray;
$tooltip-opacity:             1;


// Footer
// --------------

$footer-color:  white;
$footer-bg:     $gray-base;


// Buttons
// --------------

$btn-default-color:              white; //$text-color;
$btn-default-bg:                 $brand-primary;
$btn-default-border:             $brand-primary;

$btn-primary-border:             $brand-primary;

$btn-border-radius-base:         0;
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;


// Border Radius
// --------------

$border-radius-base:  0;
$panel-border-radius: 0;


// Pagination
// --------------

$pagination-color:                     $brand-primary;
$pagination-hover-color:               $brand-primary;

$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;


// Search Form
// --------------

$search-form-bg: $brand-secondary;


// Page Header
// --------------

$page-header-bg:            darken( $brand-secondary, 6% );
$page-header-border-color:  white;


// Budget Stream
// --------------

$budget-stream-color: $brand-secondary;


// Year Slider
// --------------

$slider-bg:     mix( $gray-light, $gray-lighter, 50% );
$slider-color:  $brand-primary;


// Data Sources
// --------------

$data-sources-color: $brand-terciary;


// Sankey Viz
// --------------

$sankey-budget-color:     darken( $brand-terciary, 5% ); //mix( $gray-light, $gray-lighter, 50% );
$sankey-execution-color:  lighten( $brand-primary-accent, 10% );
