// Btns
.btn-default:hover{
  border-color: mix( $brand-primary, white, 75% );
  background: mix( $brand-primary, white, 75% );
}

// Icons
.btn[class*="icon-"]:before{
  // align-right
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

// Page Title
.page-title{
  font-size: 2em;
  color: $text-color;
  font-weight: $font-weight-700;
}

// Language Selector
#menu-lang{
  margin-top: 0;

  .dropdown .btn{
    background: none;
    text-transform: uppercase;
    padding: 10px 0;
    line-height: 20px;
    border: none;
    color: $gray-light;

    &:hover{
      color: $text-color;
    }
    &:focus {
      outline: none;
      @include box-shadow(none);
    }

    .caret{
      margin-left: 5px;
    }
  }

  ul.dropdown-menu{
    display: none;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    border: none;

    li{
      float: none;
      border: none;
      padding: 12px 25px;
      border-bottom: 1px solid $gray-lighter;
      text-transform: uppercase;
      text-align: center;

      &:last-child{
        border: none;
      }

      input{
        text-transform: uppercase;
      }
    }
  }

  .open ul.dropdown-menu{
    display: block;
  }
}

@media (min-width: $grid-float-breakpoint) {

   #menu-lang{
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 16px;
      left: -24px;
      height: 20px;
      width: 1px;
      background: $gray-lighter;
    }
    .dropdown .btn{
      padding: 0;
      line-height: 52px;
    }
    ul.dropdown-menu{
      margin-left: -25px;
      li{
        text-align: left;
      }
    }
  }
}


// Header
header{
  clear: both;
  background: $gray-base;
}

.main-entity-logo{
  margin-top: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width/2;
}

@media (min-width: $screen-sm-min) {
  
  .main-entity-logo{
    float: right;
  }
}

.navbar-brand{
  font-size: 1.071em;
  font-weight: $font-weight-400;
  letter-spacing: 0.05em;
  line-height: 25px;

  a{
    color: white;
  }
}

.navbar-default .navbar-toggle{
  color: $text-color;
  font-weight: $font-weight-700;

  &:hover,
  &:focus{
    color: $brand-primary;
    background: white;
    font-weight: $font-weight-700;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-brand{
    position: static;
    margin: $grid-gutter-width/2 0;
    text-align: left;
  }
}

.navbar-default{
  text-align: center;
  
  .navbar-nav{
    padding: $grid-gutter-width/3 0;
    display: inline-block;

    [class*="icon-"]:before{
      display: none;
    }

    > li{
    
      > a{
        color: $text-color;
        font-size: 1.25em;
        font-weight: $font-weight-700;
        text-transform: none;

        &:hover{
          color: $brand-primary;
        }
      }

      &.active{
        
        > a,
        > a:hover{
          color: $brand-primary;
          font-weight: $font-weight-700;
        } 
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  
  .navbar-default{
    height: 54px !important;

    .navbar-nav{
      padding: 0;
      width: auto;

      > li{
        width: auto;
        margin: 0 25px;
        border-bottom: 2px solid white;

        > a{
          line-height: 50px;
          padding: 2px 0 0;
          text-align: left;
        }

        &.active{
          border-bottom-color: $brand-primary;
        }
      }
    }
  }
}

// Nav Tabs
.nav-tabs > li{
  a h3{
    color: $text-color;
    font-weight: $font-weight-700;
  }
  &.active > a h3{
    color: $brand-primary;
    font-weight: $font-weight-700;
  }
}

// Social Sharing
.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

// Data Sources
.data-sources {
  background: $brand-terciary;
  .alert{
   background: mix( $brand-terciary, white, 50% );
  }
}

// Data Downloads
.panel-downloads{
  border-color: $brand-secondary;
  background: $brand-secondary;

  a{
    color: $brand-primary;

    &:hover{
      color: $text-color;
    }
  }
}

// Home
.home-content{

  .home-intro h2{
    color: $text-color;
  }

  .expense-examples li{
    background: $gray-lighter;

    a{
      color: $text-color;
      font-weight: $font-weight-700;
      &:hover{
        color: $brand-primary;
      }
    }
  }

  .options{
    .option > div{
      border: none;
      padding-top: 0;
      
      .icon{
        margin: 0 -0.5*$grid-gutter-width $grid-gutter-width;
        padding-bottom: 50%;
        background: url(../assets/resumen-picture.png) no-repeat center top white;
        background-size: 100% auto;
        @include transition( opacity 0.3s ease-out );
        opacity: 0.7;

        &:before{
          display: none;
        }
      }

      &:hover .icon{
        opacity: 1;
      }

      &.option-policies .icon{
        background-image: url(../assets/politicas-picture.png);
      }

      .option-title h3{
        color: $text-color;
      }
      .option-title:hover h3{
        color: $brand-primary;
      }

      .btn{
        font-size: 1.125em;
        font-weight: $font-weight-600;
        background: $gray-light;
        border-color: $gray-light;

        &:hover{
          background: $brand-primary;
          border-color: $brand-primary;
        }

        &:before{
          content: "";
          display: block;
          width: 19px;
          height: 19px;
          margin-top: 1px;
          background: url(../assets/plus-icon.png) no-repeat 0 0 transparent;
        }
      }
    }
  }
}

// Budget
.budget-intro{

  .budget-step{
    border: none;

    h3 
    span{
      color: $brand-primary;
      font-weight: $font-weight-400;
    }
    b{
      font-weight: $font-weight-400;
    }
    .desc{
      font-size: 1em;
      background: $gray-light;

      b{
        font-weight: $font-weight-400;
      }
    }
  }
}
.budget-data{
  background: $brand-secondary;
}

// Policies
.policies-chart{
  background: white;
}

.policies-graph{
  background: white;
}

.stacked-area-chart-legend .label{
  
  &:hover{
    background: $brand-secondary;
  }
}

// Glossary
.form-search-glossary .btn-primary{
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover{
    background-color: mix( $brand-primary, white, 75% );
    border-color: mix( $brand-primary, white, 75% );
  }
}
.glossary-terms h3, 
.glossary-terms h4{
  color: $text-color;
  font-weight: $font-weight-700;
 
  &:before{
    color: darken( $brand-secondary, 20% );
  }
}

.form-search-glossary .form-control{
  border-color: $brand-primary;
}

// Search
.search-content .alert{
  background: $brand-secondary;
}
.search-content .panel{
  border-color: $brand-primary;

  .panel-heading{
    color: white;
    background: $brand-primary;

    h3{
      color: white;
      font-weight: $font-weight-300;
    }
  }
}

// Search Icon
.form-search-glossary .btn-default:before,
.form-search .form-inline .btn:before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  background: url(../assets/search-icon.png) no-repeat 0 0 transparent;
}

// Data Update Alert
.alert-data-update{
  padding-top: 0;
  text-align: center;
}

.budget-viz .sankey-labels{
  color: $text-color;
  font-weight: $font-weight-700;
}

.sankey .legend-item text,
.stacked-area-chart .overlay text{
  fill: $text-color;
  font-weight: $font-weight-700;
  font-style: normal;
}

.body-entities .alert-data-update{
  margin-bottom: 1.5*$grid-gutter-width;
}

@media (min-width: $screen-sm-min) {

  .budget-viz .alert-data-update{
    position: relative;
    top: 16px;
    margin: 0;
    padding-bottom: 0;
    line-height: 1em;
  }
}


// Tax Receipt
.tax-receipt-table-content{
  background: white;
}

.tax-receipt-content{

  .form-user-incomings,
  #tax-amount{
    background: $brand-secondary;
  }

  .form-user-incomings{
    
    h3{
      color: $gray-light;
    }

    label.bonus{
      font-weight: normal;
    }

    .checkbox{
      clear: both;

      label{
        line-height: 20px;
      }
    }
  }
}

// Guided Visit
.guidedvisit-content{
  margin-top: $grid-gutter-width;
  margin-bottom: 2*$grid-gutter-width;

  .lead{
    font-size: 1.25em;
    font-style: normal;
  }

  h3{
    margin: $grid-gutter-width 0 2*$grid-gutter-width/3;
  }

  p{
    font-size: 1.125em;
    margin-bottom: $grid-gutter-width/2;
  }

  .img-responsive {
    margin: 30px 0 30px;
  }
}

.guidedvisit-menu{
  padding: 0;
  border-top: 1px solid $brand-terciary;

  li{
    list-style: none;
    padding: 8px 0;
    font-size: 1.125em;
    border-bottom: 1px solid $brand-terciary;

    a{
      color: $text-color;

      &:hover{
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}

// Footer
.main-footer{
  font-size: 0.929em;
  letter-spacing: 0.05em;
  padding: 15px 0;

  .footer-menu li {
    margin-top: $grid-gutter-width/6;
    margin-bottom: $grid-gutter-width/6;
    font-weight: $font-weight-300;
    border: none;

    a{
      text-decoration: underline;
      line-height: 1.375em;
    }

    &:first-child a{
      text-decoration: none;
    }
  }

  .credit-aragon{
    margin-bottom: 0;
  }
}

.credits-footer{
  background: mix($gray-darker, $gray-dark, 50%);
  padding: 2*$grid-gutter-width/3 0;
}

.sitemap-footer{
  color: white;
  background: mix($gray, $gray-dark, 50%);
  font-weight: $font-weight-300;
  padding: $grid-gutter-width 0;

  a{
    color: white;
    font-size: 1.25em;
    font-weight: $font-weight-600;
  }

  ul{
    padding: 0;
    margin: 0;

    li{
      list-style: none;

      a{
        color: white;
        font-size: 1.125em;
        line-height: 2.5em;
        font-weight: $font-weight-400;
      }
    }
  }

  .sitemap-title{
    margin-top: 2*$grid-gutter-width/3;
    padding-right: $grid-gutter-width;
    line-height: 1.875em;
  }

  .sitemap-more{
    font-size: 1.125em;
    font-weight: $font-weight-300;
    line-height: 1.5em;
    margin-top: 25px;

    a{
      font-size: 1em;
    }
  }

  .internal-links,
  .external-links{
    border-top: 1px solid $gray-light;
  }

  .internal-links{
    padding-top: 2*$grid-gutter-width/3;
    margin-top: $grid-gutter-width;
  }

  .external-links{
    margin-top: 2*$grid-gutter-width/3;
    padding-top: $grid-gutter-width;

    ul{
      margin-top: $grid-gutter-width/2;
    }
  }
}


@media (min-width: $screen-sm-min) {
  .sitemap-footer{
    .internal-links,
    .external-links{
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
    .external-links{
      border-left: 1px solid $gray-light;
    }
  }
}