{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  {% include 'shared/meta.html' %}

  <title>{{ meta_title | safe }}</title>

  <link href="{{ STATIC_URL }}assets/favicon.png" rel="icon" type="image/x-icon" />

  {% include 'shared/fonts.html' %}

  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/main.css" media="all" type="text/css" />
  {% endcompress %}

  {% compress js %}
  <script src="{{ STATIC_URL }}javascripts/jquery-2.2.4.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery-migrate-1.4.1.js"></script>
  <script src="{{ STATIC_URL }}javascripts/modernizr-2.6.3.min.js"></script>
  {% endcompress %}
</head>
<body class="{{ page_css_class }}">
  {% include 'shared/pre_header.html' %}

  {% include 'admin/header.html' %}

  <div class="content" role="main">
    {% block content %}{% endblock %}
  </div>

  {% include 'shared/footer.html' %}

  {% compress js %}
  <!-- Jquery plugins -->
  <script src="{{ STATIC_URL }}javascripts/jquery.ba-bbq.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.cookie.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.cookiebar.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.event.drag-2.0.min.js"></script>
  <!-- Other dependencies -->
  <script src="{{ STATIC_URL }}javascripts/underscore-1-5-2.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/datatables.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/select2.min.js"></script>
  <!-- Bootstrap plugins -->
  <script src="{{ STATIC_URL }}javascripts/bootstrap/collapse.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/dropdown.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/modal.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/tooltip.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/popover.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap/transition.js"></script>
  <script src="{{ STATIC_URL }}javascripts/bootstrap-slider.js"></script>
  <!-- Custom modules -->
  <script src="{{ STATIC_URL }}javascripts/script.js"></script>
  <script src="{{ STATIC_URL }}javascripts/theme.js"></script>
  <script src="{{ STATIC_URL }}javascripts/admin.js"></script>
  {% block extra_javascript %}{% endblock %}
  {% endcompress %}

  <!-- Uncompressable external dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/handsontable@6.2.2/dist/handsontable.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/papaparse@4.6.2/papaparse.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-base64@2.5.0/base64.min.js"></script>

  {% if debug %}
  <script src="{{ STATIC_URL }}javascripts/count-css-rules.js"></script>
  {% endif %}

  {% include 'shared/cookiebar.html' %}

  {% include 'shared/analytics.html' %}
</body>
</html>
