<div class="main-footer sitemap-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="{{ url('budget_app.views.welcome') }}">{{ _('Visor de presupuestos') }}</a>
        <p class="sitemap-title">{{ _('Web dedicada a la visualización de los presupuestos del Ayuntamiento de Madrid') }}</p>
        <p class="sitemap-more">{{ _('Más sobre presupuestos en') }} <a href="http://www.madrid.es/portal/site/munimadrid" target="_blank">www.madrid.es</a></p>
      </div>
      <div class="col-sm-4 internal-links">
        <ul>
          <li><a href="{{ url('budget_app.views.budgets') }}">{{ _('Visión global') }}</a></li>
          <li><a href="{{ url('budget_app.views.policies') }}#view=income">{{ _('Políticas') }}</a></li>
          <li><a href="{{ url('presupuesto-madrid.views.guidedvisit') }}">{{ _('Visita guiada') }}</a></li>
          {% if show_payments %}
          <li><a href="{{ url('budget_app.views.payments') }}">{{ _('Pagos e inversiones') }}</a></li>
          {% endif %}
          {% if show_tax_receipt %}
          <li><a href="{{ url('budget_app.views.tax_receipt') }}">{{ _('Lo que tú aportas') }}</a></li>
          {% endif %}
          <li><a href="{{ url('budget_app.views.terms') }}">{{ _('¿Qué significa...?') }}</a></li>
        </ul>
      </div>
      <div class="col-sm-4 external-links">
        <strong>{{ _('Otras webs del Ayuntamiento de Madrid') }}</strong>
        <ul>
          <li><a href="https://transparencia.madrid.es/" target="_blank">transparencia.madrid.es</a></li>
          <li><a href="http://datos.madrid.es/portal/site/egob/" target="_blank">datos.madrid.es</a></li>
          <li><a href="https://decide.madrid.es/" target="_blank">decide.madrid.es</a></li>
          <li><a href="http://www.madrid.es/portal/site/munimadrid" target="_blank">www.madrid.es</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="main-footer credits-footer">
  <div class="container">
    <p class="credit-aragon">
      <span>{{ _('Un proyecto de') }}</span>
      <a href="http://www.civio.es/es" class="link-civio" target="_blank">Civio</a>
      <span>&nbsp;{{ _('basado en el código de') }} </span>
      <a href="http://opendata.aragon.es" class="link-aragon" target="_blank">Open Data Aragón </a>
    </p>
  </div>
</div>

<footer class="main-footer">
  <div class="container">
    <ul class="footer-menu">
      <!-- Link a la Web del Ayuntamiento -->
      <li>
        <a href="{{ main_entity_web_url }}" target="_blank">{{ _('Gobierno de Aragón') }} 2016</a>
      </li>
      <li>
        <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/Accesibilidad?vgnextfmt=default&vgnextchannel=1ade43db40317010VgnVCM100000dc0ca8c0RCRD" target="_blank">{{ _('Accesibilidad') }}</a>
      </li>
      <li>
        <a href="http://www.madrid.es/portales/munimadrid/es/Inicio/El-Ayuntamiento/Contactar?vgnextfmt=default&vgnextchannel=2ff5891b0ed86210VgnVCM2000000c205a0aRCRD" target="_blank">{{ _('Contactar') }}</a>
      </li>
      <!-- Link al Aviso Legal del Ayuntamiento -->
      {% if main_entity_legal_url %}
      <li>
        <a href="{{ main_entity_legal_url }}" target="_blank">{{ _('Aviso Legal') }}</a>
      </li>
      {% endif %}
      <!-- Link a la Política de Privacidad del Ayuntamiento -->
      {% if main_entity_privacy_url %}
      <li>
        <a href="{{ main_entity_privacy_url }}" target="_blank">{{ _('Política de Privacidad') }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</footer>